# Any prebuilts
*.apk/
*.ap_/

# Local settings
local.properties/

# Logs
*.log/

# Other
.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins

# Other
pubspec.lock
